{% extends "game/base.html" %}

{% block content %}
<div class="signup">
    <h2>Sign up</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}
