html,body{
    background: #000000;
}

.button{
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-rows: 10% 5% 1fr;
}
    .title_text{
        font-size: 30;
        color: #ffffff;
        grid-column: 1 / span 5;
        grid-row: 1;
        margin: auto;
        text-align: center;
    }
    .nav_bar{
        grid-column: 5;
        grid-row: 2;
        margin: auto;
        text-align: right;
    }
        .nav_bar p{
            display: inline;
            padding: 5px;
        }
    .body{
        grid-column: 1;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-rows: 10% 1fr;
    }
        .welcome{
            grid-column: 1;
            grid-row: 1;
            color: #ffffff;
            text-align: center;
            border-style: solid;
            border-color: #ffffff;
            border-width: 2px;
        }
        .side_bar{
            grid-column: 1;
            grid-row: 2;
            border-style: solid;
            border-color: #ffffff;
            border-width: 2px;
        }
            .side_bar p{
                text-align: center;
            }
    .stats_bar{
        grid-column: 5;
        grid-row: 3;
        border-style: solid;
        border-color: #ffffff;
        border-width: 2px;
        color: #ffffff;
    }
        #users{
            text-align: center;
        }
        #username{
            text-align: center;
        }
        #time{
            text-align: center;
        }
        #it_is_now{
            text-align: center;
        }
        #total_money{
            text-align: center;
        }
        #amount{
            text-align: center;
        }
    .block_content{
        grid-column: 2 / span 3;
        grid-row: 3;
    }
        .index_text{
            width: 80%;
            margin: 0 auto;
            color: #ffffff;
            text-align: center;
        }
            .index_text h2,h4{
                text-align: center;
                color: #ffffff;
            }
        .signup{
            text-align: center;
            color: #ffffff;
        }
        .char_display{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-auto-flow: row;
        }
            #cp_header{
                text-align: center;
                color: #ffffff;
            }
            .char_field{
                grid-column: 1;
                grid-row-start: 1;
                width: 80%;
                margin: 0 auto;
                color: #ffffff;
                text-align: center;
            }
                .char_line_1 p{
                    display: inline-block;
                }
                    #name{
                        float: left;
                    }
                    #exp{
                        float: right;
                    }
                .char_line_2 p{
                    display: inline-block;
                }
                    #sex{
                        float: left;
                    }
                    #hit_points{
                        float: right;
                    }
                .char_line_3 p{
                    display: inline-block;
                }
                    #item{
                        float: left;
                    }
                    #created{
                        float: right;
                    }
                .char_line_4{
                    text-align: center;
                }
                .active{
                    text-align: center;
                }
            .player_profile{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(5, 1fr);
                text-align: center;
            }
                .player_profile h2{
                    grid-column: 1 / span 2;
                    grid-row: 1;
                    color: #ffffff;
                }
                .user_top_1{
                    grid-column: 1;
                    grid-row: 2;
                    text-align: center;
                    color: #ffffff
                }
                .user_top_2{
                    grid-column: 2;
                    grid-row: 2;
                    text-align: center;
                    color: #ffffff
                }
                .user_row_2_1{
                    grid-column: 1 / span 2;
                    grid-row: 3;
                    text-align: center;
                    color: #ffffff;
                }
        .for_loop{
            display: grid;
            grid-template-columns: : repeat(3, 1fr);
            grid-template-rows: auto;
            color: #ffffff;
        }
        .for_loop p{
            text-align: center;
        }
            .item_col1{
                grid-auto-flow: row;
            }
            .item_row{
                text-align: center;
                color: #ffffff;
            }
                #f_left{
                    float: left;
                }
                #f_right{
                    margin-left: 20px;
                    float: left;
                }
                .item_row form{
                    display: inline;
                }
            .header2{
                text-align: center;
                color: #ffffff;
            }
            .center{
                text-align: center;
                display: inline;
            }
