<html lang="en">
    <head>
        <title>The Arrival</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'game/main.css' %}?v='text'"/>
        <script src="{% static 'game/main.js' %}"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="title_text">
                <h1>The Arrival</h1>
            </div>
            <div class="nav_bar">
                {% if user.is_authenticated %}
                    <p id="logout_button"><a href="{% url 'logout' %}" class="button">Log Out</a></p>
                    <p id="logout_button"><a href="{% url 'game:index' %}" class="button">Home</a></p>
                {% else %}
                    <p id="logout_button"><a href="{% url 'game:index' %}" class="button">Home</a></p>
                    <p id="login_button"><a href="{% url 'login' %}" class="button">Log In</a></p>
                    <p id="signup_button"><a href="{% url 'signup' %}" class="button">Sign Up</a></p>
                {% endif %}
            </div>
            <div class="body">
                <div class="welcome">
                    {% if user.is_authenticated %}
                        <p>Welcome back, {{ user.username }}!</p>
                    {% else %}
                        <p>Welcome, Guest!</p>
                    {% endif %}
                </div>
                <div class="side_bar">
                    {% if user.is_authenticated %}
                        <p><a href="{% url 'game:create' %}" class="button">Create A Character</a></p>
                        <p><a href="{% url 'game:delete' %}" class="button">Delete A Character</a></p>
                        <p><a href="{% url 'game:inventory' %}" class="button">Active Character Inventory</a></p>
                        <p><a href="{% url 'game:pprofile' %}" class="button">Player Profile</a></p>
                        <p><a href="{% url 'game:cprofile' %}" class="button">Character Profile</a></p>
                        {% if store %}
                            <p><a href="{% url 'game:store' %}" class="button">Visit Store</a></p>
                        {% endif %}
                        <p><a href="{% url 'game:game' %}" class="button">Play Arrival</a></p>
                    {% else %}
                        <p><a href="{% url 'login' %}" class="button">Log In</a></p>
                        <p><a href="{% url 'signup' %}" class="button">Sign Up</a></p>
                    {% endif %}

                </div>
            </div>
            <div class="stats_bar">
                <p id="users"><strong>Users Recently Online:</strong></p>
                {% for user in users %}
                    {% if users|length > 1 %}
                        <p id="username">{{ user.username }},</p>
                    {% else %}
                        <p id="username">{{ user.username }}</p>
                    {% endif %}
                {% endfor %}
                <hr />
                <p id="users"><strong>Existing Characters:</strong></p>
                <p id="username">{{ chars }}</p>
                <hr />
                <p id="it_is_now"><strong>Current Game Time:  </strong></p>
                <p id="time">{% now "DATETIME_FORMAT" %}</p>
                <p id="total_money"><strong>Players Total Wealth: </strong></p>
                <p id="amount">${{ total_money_found }}</p>
            </div>
            <div class="block_content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
  </body>
</html>
