{% extends "game/base.html" %}

{% block content %}
<h2 id="cp_header">Character Profile</h2>
<div class="char_display">
    <div class="char_field">
        {% for character in characters %}
            {% if character.name in active.character %}
                <div class="active">
                    <p><strong>Active Character</strong></p>
                </div>
            {% endif %}
            <div class="char_line_1">
                <p id="name"><strong>Name:</strong> {{ character.name }} &nbsp&nbsp&nbsp&nbsp&nbsp ${{ character.money }}</p>
                <p><strong>Level:</strong> {{ character.level }}</p>
                <p id="exp"><strong>Experience:</strong> {{ character.experience }}</p>
            </div>
            <div class="char_line_2">
                <p id="sex"><strong>Sex:</strong> {{ character.sex }}</p>
                <p><strong>Room:</strong> {{ character.room }}</p>
                <p id="hit_points"><strong>Hit Points:</strong> {{ character.hit_points }}</p>
            </div>
            <div class="char_line_3">
                <p id="item"><strong>Equipped Item:</strong> {{ character.equipped_item }}</p>
                <p><strong>Equipped Weapon:</strong> {{ character.equipped_weapon }}</p>
                <p id="created"><strong>Date Created:</strong> {{ character.created }}</p>
            </div>
            <div class="char_line_4">
                {% if character.name in active.character %}
                {% else %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="select_character" value="{{ character.name }}" />
                        <button class="button" type="submit">Make Active</button>
                    </form>
                {% endif %}
            </div>
            <hr />
        {% endfor %}
    </div>
</div>
{% endblock %}
