{% extends "game/base.html" %}

{% block content %}
<div class="index_text">
    <h2 id="del_header">Delete Characters</h2>
    <h4 id="del_header2">This is not reversible!</h4>
    {% for character in characters %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="select_character" value="{{ character.name }}" />
            <button class="button" type="submit">{{ character.name }}</button>
        </form>
    {% endfor %}
</div>
{% endblock %}
