{% extends "game/base.html" %}

{% block content %}
<div class="index_text">
    <p>Arrival is a text based rpg created with Python, using the framework Django.<br />
    Sign up for an account and create a character! In Arrival, you will explore<br />
    the area around you discovering secrets and items along the way. Will you<br />
    survive the Arrival?</p>
</div>
{% endblock %}
