{% extends "game/base.html" %}

{% block content %}
    <div class="for_loop">
        <p><strong>{{ character.name }}</strong> currently has ${{ character.money }}</p>
        {% for item in items %}
            <div class="item_col1">
                <div class="item_row">
                    <p>Name: {{ item.name }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Stat: {{ item.stat_affected }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  Value: {{ item.effect_amt }}</p>
                    {% if character.equipped_item == item.name %}
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="item_name" value="{{ item.name }}" />
                        <button class="button" type="submit">Unequip Item</button>
                    </form>
                    {% else %}
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="{{ item.name }}" />
                            <button class="button" type="submit">Equip Item</button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <hr width=80%/>
        {% endfor %}
    </div>
{% endblock %}
