{% extends "game/base.html" %}

{% block content %}
    <div class="player_profile">
        <h2>Player Profile</h2>
        <div class="user_top_1">
            <p><strong>User Name:  </strong>{{ user_info.username }}</p>
        </div>
        <div class="user_top_2">
            <p><strong>Arrival Date:  </strong>{{ user_info.date_joined }}</p>
        </div>
        <div class="user_row_2_1">
            <p><strong>Active Character:  </strong>{{ active.character }}</p>
        </div>
    </div>
{% endblock %}
