{% extends "game/base.html" %}

{% block content %}
    <div class="header2">
        <p><h2>Welcome to {{ store.name }}</h2></p>
        <p>{{ store.name }} currently has ${{ store.money }}.</p>
        <p>{{ character.name }} currently has ${{ character.money }}</p>
        <hr />
    </div>
    {% if method == 'get' %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="buy" value="buy" />
            <button class="button" type="submit">I would like to buy.</button>
        </form>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="sell" value="sell" />
            <button class="button" type="submit">I would like to sell.</button>
        </form>
    {% elif method == 'buy' %}
        <div class="for_loop">
            {% for item in s_items %}
                {% if item.cost <= character.money %}
                    <div class="item_col1">
                        <div class="item_row">
                            <p class="f_left">Name: {{ item.name }}</p>
                            <p class="f_right">Effect: {{ item.stat_affected }} +{{ item.effect_amt }}</p>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="buy_item" value="{{ item.name }}" />
                                <button class="button" type="submit">Purchase for ${{ item.cost }}</button>
                            </form>
                        </div>
                        <hr width=80%/>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% elif method == 'sell' %}
        <div class="for_loop">
            {% for item in c_items %}
                {% if item.sell <= store.money %}
                    <div class="item_col1">
                        <div class="item_row">
                            <p class="f_left">Name: {{ item.name }}</p>
                            <p class="f_right">Effect: {{ item.stat_affected }} +{{ item.effect_amt }}</p>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="sell_item" value="{{ item.name }}" />
                                <button class="button" type="submit">Sell for ${{ item.sell }}</button>
                            </form>
                        </div>
                    </div>
                    <hr width=80%/>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% if method != 'get' %}
        <div class="center">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="buy" />
                <button class="button" type="submit">I would like to buy.</button>
            </form>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="sell" />
                <button class="button" type="submit">I would like to sell.</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
